body {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 1em;
}

button {
  font-size: 1.5em;
  padding: 5px;
}

h1, h2 {
  display: block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 2em;
}

h2 {
  color: #AAA;
  font-size: 1.75em;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 1.5em;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

.whisper {
  font-size: .8em;
}
